// Colors
$dark-blue: hsl(217, 28%, 15%); //intro and email sign up background
$main-dark-blue: hsl(218, 28%, 13%); //main background
$footer-dark-blue: hsl(216, 53%, 9%); //footer background
$testimonials-dark-blue: hsl(219, 30%, 18%); //testimonials background

$accent-cyan: hsl(176, 68%, 64%); //inside call-to-action gradient
$accent-blue: hsl(198, 60%, 50%); //inside call-to-action gradient
$light-error-red: hsl(0, 100%, 63%); //error

$white: hsl(0, 0%, 100%);
$light-white: #dcdcdc;

// Font sizes
$default-font-size: 14px;
$h1-fontSize: 36px;
$h2-fontSize: 24px;
